.prettierignore
.dockerignore
Dockerfile
.gitignore
*.svg
*.png
*.jpg
*.lrc
*.ico
*.log
*.xml
*.sh
*.mp3
.env*
.husky/
test-results/
.features-gen/
playwright-report/
jellyfin-plugin/**/bin/
jellyfin-plugin/**/obj/
jellyfin-plugin/artifacts/
.ci-jellyfin/
